/*
* Sidebar
*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 20px 0 0;
    background-color: #303030;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 992px) {
    .sidebar {
        padding-top: 5rem;
    }
}

.sidebar .nav-link {
    color: white;
    text-shadow: 1px 1px #666;
    background-color: #1c1c1c;
    text-align: inherit;
    border: none;
    height: 50px;
    padding-top: 12px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    color: #fff;
    text-decoration: none;
    background-color: #0f8c1d;
    border: none;
}

.sidebar-heading {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar {
    background-color: #303030 !important;
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}
